<template>
  <div>
    <nav
      class="navbar header is-primary"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="~assets/buefy.png" alt="Buefy" height="28" />
        </a>

        <div
          class="navbar-burger burger"
          data-target="navbarExampleTransparentExample"
        >
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div id="navbarExampleTransparentExample" class="navbar-menu">
        <div class="navbar-end">
          <li class="navbar-item" v-for="(item, key) of items" :key="key">
            <NuxtLink :to="item.to" exact-active-class="is-active">
              <b-icon :icon="item.icon" /> {{ item.title }}
            </NuxtLink>
          </li>
        </div>
      </div>
    </nav>

    <Nuxt />

    <footer class="footer">
      <div class="section-heading">
        <p>
          <strong>Bulma Personal Template</strong> by
          <a href="https://mubaidr.js.org">Muhammad Ubaid Raza</a>. The source
          code is licensed
          <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
        </p>
      </div>
    </footer>
  </div>
</template>

<script>
export default {
  name: "DefaultLayout",
  data() {
    return {
      items: [
        {
          title: "Home",
          icon: "home",
          to: { name: "index" },
        },
        /*{
          title: "About",
          icon: "home",
          to: { name: "about" },
        },
        {
          title: "Services",
          icon: "home",
          to: { name: "services" },
        },
        {
          title: "Resume",
          icon: "home",
          to: { name: "resume" },
        },
        {
          title: "Portfolio",
          icon: "home",
          to: { name: "portfolio" },
        },
        {
          title: "Contact",
          icon: "home",
          to: { name: "contact" },
        },*/
      ],
    };
  },
};
</script>
