<template>
  <section class="hero is-primary is-fullheight is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container">Hello! I am
        <h1 class="title is-1">
          Teddy Rodrigues Valette
        </h1>
        <h2 class="subtitle is-3">
          High-Performance Computing Architecture and Infrastructure Engineer
        </h2>
        <h2 class="title is-2">
          There is nothing for now, but I plan to do some cool stuff here!
        </h2>
      </div>
    </div>
    <div>Last update: 22/02/2024 21:09 (promis ça arrive 😊)</div>
  </section>
</template>

<script>
export default {
  name: 'IndexPage',
  layout: 'empty',
  components: {
  }
}
</script>

<style scoped>
html {
  overflow: hidden;
}
</style>