<template>
  <section class="section" id="portfolio">
    <div class="container">
      <div class="section-heading">
        <h3 class="title is-2">Portfolio</h3>
        <h4 class="subtitle is-5">My latest works</h4>
      </div>
      <br>

      <div class="container portfolio-container">
        <div class="columns">
          <div class="column is-4">
            <!-- admin -->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span>Admin <small>(Light)</small></span>
                  <span class="is-pulled-right">
                    <a href="https://github.com/jgthms/bulma/releases/tag/0.7.2">
                      <span class="tag is-default">v0.7.2</span>
                    </a>
                    <span class="tag is-default">Desktop</span>
                    <span class="tag is-danger">WIP</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img src="https://raw.githubusercontent.com/BulmaTemplates/bulma-templates/master/images/admin.png" alt="Admin template screenshot">
                </figure>
              </div>
              <footer class="card-footer">
                <a href="templates/admin.html" class="card-footer-item">Preview</a>
                <a href="https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/admin.html" class="card-footer-item">Source
                  Code</a>
              </footer>
            </div>
            <!-- cards -->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span>Cards</span>
                  <span class="is-pulled-right">
                    <a href="https://github.com/jgthms/bulma/releases/tag/0.7.2">
                      <span class="tag is-default">v0.7.2</span>
                    </a>
                    <span class="tag is-default">Desktop</span>
                    <span class="tag is-default">?</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img src="https://raw.githubusercontent.com/BulmaTemplates/bulma-templates/master/images/cards.png" alt="Cards template screenshot">
                </figure>
              </div>
              <footer class="card-footer">
                <a href="templates/cards.html" class="card-footer-item">Preview</a>
                <a href="https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/cards.html" class="card-footer-item">Source
                  Code</a>
              </footer>
            </div>
            <!-- forum -->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span>Forum</span>
                  <span class="is-pulled-right">
                    <a href="https://github.com/jgthms/bulma/releases/tag/0.7.2">
                      <span class="tag is-default">v0.7.2</span>
                    </a>
                    <span class="tag is-default">Desktop</span>
                    <span class="tag is-default">Mobile</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img src="https://raw.githubusercontent.com/BulmaTemplates/bulma-templates/master/images/forum.png" alt="Hero template screenshot">
                </figure>
              </div>
              <footer class="card-footer">
                <a href="templates/forum.html" class="card-footer-item">Preview</a>
                <a href="https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/forum.html" class="card-footer-item">Source
                  Code</a>
              </footer>
            </div>
            <!-- insta album -->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span>InstaAlbum</span>
                  <span class="is-pulled-right">
                    <a href="https://github.com/jgthms/bulma/releases/tag/0.7.2">
                      <span class="tag is-default">v0.7.2</span>
                    </a>
                    <span class="tag is-default">Desktop</span>
                    <span class="tag is-default">Mobile</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img src="https://raw.githubusercontent.com/BulmaTemplates/bulma-templates/master/images/instaalbum.png" alt="Landing template screenshot">
                </figure>
              </div>
              <footer class="card-footer">
                <a href="templates/instaAlbum.html" class="card-footer-item">Preview</a>
                <a href="https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/instaAlbum.html" class="card-footer-item">Source
                  Code</a>
              </footer>
            </div>
            <!-- landing -->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span>Landing</span>
                  <span class="is-pulled-right">
                    <a href="https://github.com/jgthms/bulma/releases/tag/0.7.2">
                      <span class="tag is-default">v0.7.2</span>
                    </a>
                    <span class="tag is-default">Desktop</span>
                    <span class="tag is-default">Mobile</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img src="https://raw.githubusercontent.com/BulmaTemplates/bulma-templates/master/images/landing.png" alt="Landing template screenshot">
                </figure>
              </div>
              <footer class="card-footer">
                <a href="templates/landing.html" class="card-footer-item">Preview</a>
                <a href="https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/landing.html" class="card-footer-item">Source
                  Code</a>
              </footer>
            </div>

          </div>
          <div class="column is-4">
            <!-- band -->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span>Band</span>
                  <span class="is-pulled-right">
                    <a href="https://github.com/jgthms/bulma/releases/tag/0.7.2">
                      <span class="tag is-default">v0.7.2</span>
                    </a>
                    <span class="tag is-default">Desktop</span>
                    <span class="tag is-default">?</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img src="https://raw.githubusercontent.com/BulmaTemplates/bulma-templates/master/images/band.png" alt="Band template screenshot">
                </figure>
              </div>
              <footer class="card-footer">
                <a href="templates/band.html" class="card-footer-item">Preview</a>
                <a href="https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/band.html" class="card-footer-item">Source
                  Code</a>
              </footer>
            </div>
            <!-- cheatsheet -->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span>Cheatsheet</span>
                  <span class="is-pulled-right">
                    <a href="https://github.com/jgthms/bulma/releases/tag/0.7.2">
                      <span class="tag is-default">v0.7.2</span>
                    </a>
                    <span class="tag is-default">Desktop</span>
                    <span class="tag is-default">?</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img src="https://dummyimage.com/555x255/000/fff" alt="Cheatsheet template screenshot">
                </figure>
              </div>
              <footer class="card-footer">
                <a href="templates/cheatsheet.html" class="card-footer-item">Preview</a>
                <a href="https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/cheatsheet.html" class="card-footer-item">Source
                  Code</a>
              </footer>
            </div>
            <!-- hero -->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span>Hero</span>
                  <span class="is-pulled-right">
                    <a href="https://github.com/jgthms/bulma/releases/tag/0.7.2">
                      <span class="tag is-default">v0.7.2</span>
                    </a>
                    <span class="tag is-default">Desktop</span>
                    <span class="tag is-default">?</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img src="https://raw.githubusercontent.com/BulmaTemplates/bulma-templates/master/images/hero.png" alt="Hero template screenshot">
                </figure>
              </div>
              <footer class="card-footer">
                <a href="templates/hero.html" class="card-footer-item">Preview</a>
                <a href="https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/hero.html" class="card-footer-item">Source
                  Code</a>
              </footer>
            </div>
            <!--kanban -->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span>Kanban</span>
                  <span class="is-pulled-right">
                    <a href="https://github.com/jgthms/bulma/releases/tag/0.7.2">
                      <span class="tag is-default">v0.7.2</span>
                    </a>
                    <span class="tag is-default">Desktop</span>
                    <span class="tag is-default">?</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img src="https://raw.githubusercontent.com/BulmaTemplates/bulma-templates/master/images/kanban.png" alt="Kanban template screenshot">
                </figure>
              </div>
              <footer class="card-footer">
                <a href="templates/kanban.html" class="card-footer-item">Preview</a>
                <a href="https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/kanban.html" class="card-footer-item">Source
                  Code</a>
              </footer>
            </div>
            <!-- login -->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span>Login</span>
                  <span class="is-pulled-right">
                    <a href="https://github.com/jgthms/bulma/releases/tag/0.7.2">
                      <span class="tag is-default">v0.7.2</span>
                    </a>
                    <span class="tag is-default">Desktop</span>
                    <span class="tag is-default">Mobile</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img src="https://raw.githubusercontent.com/BulmaTemplates/bulma-templates/master/images/login.png" alt="Login template screenshot">
                </figure>
              </div>
              <footer class="card-footer">
                <a href="templates/login.html" class="card-footer-item">Preview</a>
                <a href="https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/login.html" class="card-footer-item">Source
                  Code</a>
              </footer>
            </div>
          </div>
          <div class="column is-4">
            <!-- blog -->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span>Blog</span>
                  <span class="is-pulled-right">
                    <a href="https://github.com/jgthms/bulma/releases/tag/0.7.2">
                      <span class="tag is-default">v0.7.2</span>
                    </a>
                    <span class="tag is-default">Desktop</span>
                    <span class="tag is-danger">WIP</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img src="https://raw.githubusercontent.com/BulmaTemplates/bulma-templates/master/images/blog.png" alt="Blog template screenshot">
                </figure>
              </div>
              <footer class="card-footer">
                <a href="templates/blog.html" class="card-footer-item">Preview</a>
                <a href="https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/blog.html" class="card-footer-item">Source
                  Code</a>
              </footer>
            </div>
            <!-- cover -->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span>Cover</span>
                  <span class="is-pulled-right">
                    <a href="https://github.com/jgthms/bulma/releases/tag/0.7.2">
                      <span class="tag is-default">v0.7.2</span>
                    </a>
                    <span class="tag is-default">Desktop</span>
                    <span class="tag is-default">Mobile</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img src="https://raw.githubusercontent.com/BulmaTemplates/bulma-templates/master/images/cover.png" alt="Cover template screenshot">
                </figure>
              </div>
              <footer class="card-footer">
                <a href="templates/cover.html" class="card-footer-item">Preview</a>
                <a href="https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/cover.html" class="card-footer-item">Source
                  Code</a>
              </footer>
            </div>
            <!--inbox -->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span>Inbox</span>
                  <span class="is-pulled-right">
                    <a href="https://github.com/jgthms/bulma/releases/tag/0.7.2">
                      <span class="tag is-default">v0.7.2</span>
                    </a>
                    <span class="tag is-default">Desktop</span>
                    <span class="tag is-default">Mobile</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img src="https://raw.githubusercontent.com/BulmaTemplates/bulma-templates/master/images/inbox.png" alt="Inbox template screenshot">
                </figure>
              </div>
              <footer class="card-footer">
                <a href="templates/inbox.html" class="card-footer-item">Preview</a>
                <a href="https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/inbox.html" class="card-footer-item">Source
                  Code</a>
              </footer>
            </div>
            <!--kanban with functional search-->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span>Kanban with Search box</span>
                  <span class="is-pulled-right">
                    <a href="https://github.com/jgthms/bulma/releases/tag/0.7.2">
                      <span class="tag is-default">v0.7.2</span>
                    </a>
                    <span class="tag is-default">Desktop</span>
                    <span class="tag is-default">?</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img src="https://raw.githubusercontent.com/BulmaTemplates/bulma-templates/master/images/kanban2.png" alt="Kanban template screenshot">
                </figure>
              </div>
              <footer class="card-footer">
                <a href="templates/kanban[search].html" class="card-footer-item">Preview</a>
                <a href="https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/kanban[search].html" class="card-footer-item">Source
                  Code</a>
              </footer>
            </div>
            <!--tabs-->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span>Modal Cards</span>
                  <span class="is-pulled-right">
                    <a href="https://github.com/jgthms/bulma/releases/tag/0.7.2">
                      <span class="tag is-default">v0.7.2</span>
                    </a>
                    <span class="tag is-default">Desktop</span>
                    <span class="tag is-default">?</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img src="https://dummyimage.com/555x255/000/fff" alt="modal-cards template screenshot">
                </figure>
              </div>
              <footer class="card-footer">
                <a href="templates/modal-cards.html" class="card-footer-item">Preview</a>
                <a href="https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/modal-cards.html" class="card-footer-item">Source
                  Code</a>
              </footer>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "AboutPage",
  components: {},
};
</script>
